@import "tailwindcss";
:root {
  /* Global navbar height used by components (fallback 64px) */
  --navbar-height: 128px;

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

/* Optional but recommended: remove default margins */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@theme {
  --color-background: #f5f5f5;
  --color-text-muted: #888;

  --color-card: #fff;
  --color-card-yellow: #FFFAE6;
  --color-card-purple: #F0DDF7;
  --color-card-green: #E0F5F0;
}